
.main-content{
  max-width: 2000px;
  margin: 0 auto;
  padding: 0rem 2rem 2rem 2rem;
  text-align: center;
  min-height: 100vh;
}

.bg-navigation-colors{
  background-color: #1d232a;
  color: #fafafa;
}